@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Scripture Journal</h1>
    <p>Make sure to add your favorite scripture!</p>
    <img src="~/images/106778.png" width="300" height="300"/>
</div>
